<div class='Image-container'>
  <img src="/images/DrSchiller.png" alt="The Great Honorable Dr. Schiller">
</div>

<h1>Welcome to Dr. Schiller's Brew Aide!</h1>


<p>This is Dr. Schiller's Brewing Aide! Inspired by his love for brewing, this tool(WIP) was made for YOU,
 the rising star in the brewing world!
Without an account you can view all of the recipes made by aspiring or current brewers with just a click!
But, where's the fun in that? Signup or Login to get started making your very own recipes!</p>
<h2><a href='/recipes/new'>Get Started!</a></h2>



