<div class='Image-container'>
  <img src="/images/DrSchiller.png" alt="The Great Honorable Dr. Schiller">
</div>

<h1>Welcome to Dr. Schiller's Brew Aide!</h1>


<p>This is Dr. Schiller's Brewing Aide! Inspired by his love for brewing, this tool(WIP) was made for YOU,
 the rising star in the brewing world!
This website is intended only as a MVP until I learn Rails during which a ton of functionality will be added!</p>
<h2><a href='/recipes/new'>Get Started!</a></h2>



